<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.base.com.baseproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>


    <!--allowBackup="true" 用户可以对我们应用程序进行数据备份。-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="pro.base.com.baseproject.MyAppLication"
        android:theme="@style/AppTheme">
        <activity android:name="pro.base.com.baseproject.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--版本更新所要用到的 fileProvider 用于兼容7.0通知栏的安装-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>


        <activity android:name = ".demo1.fragment.DemoActivity"

            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo2.DBTestActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo3.SVProgressHUDActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo4.LayerListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo5.ui.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo5.ui.ChatInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo6.AriaListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo6.AriaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo6.AppDetailsActivtiy"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo6.AriaDownManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo6.AriaSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo6.AriaRecyclerActvity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name = "pro.base.com.baseproject.demo7.BaseRecyclerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>



        <!--<activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" /> &lt;!&ndash; or android:screenOrientation="landscape"&ndash;&gt;-->


        <receiver android:name="pro.base.com.baseproject.demo6.service.InstallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" /> <!--有新的应用被安装-->
                <action android:name="android.intent.action.PACKAGE_REMOVED" /><!--有应用被卸载-->
                <action android:name="android.intent.action.PACKAGE_REPLACED" /><!--有应用被替换-->

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>

</manifest>